.CustomCard .card {
	color: black;
	background-color: rgb(203, 203, 203);
	border: 5px solid black;
	border-radius: 20px;
	-webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
}

.CustomCard .card-img-top {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	/* height: 40vh; */
	object-fit: contain;
	width: 100%;
}

.CustomCard .card-body {
	border-top: 10px solid black;
}
