
/* bootstrap classes */
.card{
    border: 5px solid black;
    border-radius: 8px;
    margin-bottom: 1rem;
}

button a, button a:hover{
    color: white;
    text-decoration: none;
}

.h5{
    font-size: 1.7rem;
}

