@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@500&display=swap');

.nav-link a, .nav-link a:hover{
	color: white;
	text-decoration: none;
	padding: 0.5rem;
	border-radius: 8px;
	border: 2px solid transparent;
	transition: border 0.5s;
}
.nav-link a:hover{
	border: 2px solid white;
}

.active-link, .active-link:hover{
	background-color: white !important;
	color: black !important;
	padding: 0.5rem;
	border: 2px solid white;
	border-radius: 8px;
}

/* bootstrap classes */

.navbar-brand {
	font-family: 'Baloo Tamma 2', cursive;
	font-size: 1.5rem;
}

.nav-link {
	text-align: right;
}

/* media */

@media (min-width: 576px) {
}

@media (min-width: 768px) {
	.navbar-brand {
		font-size: 2rem;
	}
}

@media (min-width: 992px) {
	.navbar-expand-lg .navbar-nav .nav-link {
		padding-left: 2.5rem;
		text-align: left;
	}
}

@media (min-width: 1200px) {
}
