.About {
	background-color: black;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.About .container {
	padding-top: 7rem;
}

.About .Jumbotron {
	background-color: black;
}

.Page main {
	background-color: var(--color-accent_3);
}

.Page main .container {
	padding: 2rem 0;
}

.Page .page-info__text {
	font-size: 2rem;
	padding: 0 1rem;
}
.About .page-info__text::first-letter {
	color: black;
	background-color: var(--color-accent);
	border-radius: 50%;
	box-shadow: 3px 3px 0 black;
	font-size: 250%;
	padding: 6px 3px;
	margin-right: 6px;
	float: left;
}

.About .row{
	width: 50%;
	margin: 0 auto;
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
	.Page .page-info__text {
		font-size: 1.5rem;
	}
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.Page .container {
		padding-top: 4rem;
	}
	.Page .page-info__text {
		font-size: 1rem;
	}
}
