.Home {
	height: 100vh;
}

.Home .gradient {
	background: linear-gradient(-45deg, rgb(57, 57, 57), var(--color-accent_2), var(--color-accent_3) ,rgb(216, 238, 252));
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	/* By:
  Manuel Pinto
  https://manuelpinto.in */
	height: 100vh;
}

.Home .Jumbotron .home-icon__wrapper{
	display: none;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.Home .container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.Home .Jumbotron {
	background-color: transparent;
	text-align: center;
}

.Home .Navigation li > a {
	color: rgba(255, 255, 255, 0.75);
	letter-spacing: var(--letter-spacing-small);
}

.Home .Jumbotron .display-1 {
	letter-spacing: var(--letter-spacing-big);
	margin-bottom: 7rem;
	color: white;
	text-shadow: black 3px 5px 2px;
	border-bottom: none;
	font-weight: 700;
}

.Home .Jumbotron .display-1 span {
	padding: 0.5rem;
	border-bottom: 3px solid rgba(255, 255, 255, 0.392);
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
	.Home .nav-links {
		flex-direction: column;
	}
	.Home .nav-link{
		padding: 1rem 0;
	}
	.Home .Jumbotron .display-1 {
		margin-bottom: 2rem;
		text-shadow: black 1px 3px 1px;
	}
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.Home .Jumbotron{
		margin-top: -50%;
	}
	
}
