.HomePage-heading {
	background-color: black;
	background-image: url(../images/ferdinand-stohr-iW1WzbuWMcA-unsplash.jpg);
	background-position: left 50% top 80%;
	background-size: cover;
}

.about_header{
	border-bottom: 2px solid black;
	margin-bottom: 2rem;
}

/* bootstrap classes */
.about_container{
	/* background-color: white;
	border: 3px solid black;
	border-radius: 8px; */
	padding: 1rem;
}

/* media queries */

@media (min-width: 576px) {
}

@media (min-width: 768px) {
	
}

@media (min-width: 992px) {
	.HomePage-heading {
		background-image: url(../images/france-perles-wizj0ppghD0-unsplash.jpg);
		background-position: left 50% top 80%;
		background-size: cover;
	}
}

@media (min-width: 1200px) {
}
