.WebDevPage-heading {
	background-color: black;
	background-image: url(../images/gilles-lambert-mSK5nNsAsLY-unsplash.jpg);
	background-position: left 50% top 80%;
	background-size: cover;
}

/* media queries */

@media (min-width: 576px) {
}

@media (min-width: 768px) {
	
}

@media (min-width: 992px) {
	.WebDevPage-heading {
		background-image: url(../images/jeremy-bishop-uAfZBP-GtiA-unsplash.jpg);
		background-position: left 50% bottom 40%;
		background-size: cover;
	}
}

@media (min-width: 1200px) {
}