.Project{
    background-color: black;
    min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.Project .container {
	padding-top: 7rem;
}

.Project main{
    flex: 1;
    background: linear-gradient(-45deg, rgb(57, 57, 57), var(--color-accent_2), var(--color-accent_3), var(--color-accent));
}

.Project .page-info__text{
    text-align: center;
}