.Project{
    background-color: black;
    min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.Project .jumbo-container {
	padding-top: 7rem;
}

.Project main{
    flex: 1;
    background: linear-gradient(-45deg, rgb(57, 57, 57), var(--color-accent_2), var(--color-accent_3), var(--color-accent));
}

.Project .page-info__text{
    text-align: center;
}

.Project .project_text{
    text-align: left;
} 

.Project ul li{
    margin-left: 1rem;
}

.project-info__header{
    display: inline-block;
    /* margin-left: 1rem; */
    padding: 0.5rem 1rem;
    /* padding-left: 1rem;
    padding-right: 1rem; */
    margin-bottom: 0.5rem;
    background-color: black;
    color: whitesmoke;
    border: 5px solid var(--color-accent_2);
	border-radius: 20px;

}

iframe{
    display: block;
    margin: 0rem auto;
    margin-bottom: 2rem;
    border-radius: 20px;
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
	
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
	.project-info__header{
        font-size: 1.5rem;
    }
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.project-info__header{
        font-size: 1.2rem;
    }
}