.App{
  height: 100vh;
}

.App_gradient{
  background: linear-gradient(-45deg, #ee76524f, #e73c7e4f, #23a5d54f, #23d5ab4f);
	background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  /* By:
  Manuel Pinto
  https://manuelpinto.in */
  height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}