*{
	box-sizing: border-box;
}


.container-fluid{
	padding: 0;
}

main .container {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.page-info__text {
	font-size: 1.7rem;
	padding: 1.5rem 1.5rem;
	background-color: whitesmoke;
	border: 5px solid black;
	border-radius: 20px;
}

.btn-primary{
	background-color: var(--color-accent_2);
	border: 2px solid black;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled):active{
	background-color: grey;
	color: var(--color-accent);
	border: none;
	border: 2px solid black;
	box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled):active:focus{
	box-shadow: 0 0 0 0.2rem var(--color-accent);
}

/* .row{
	margin: 0;
} */

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
	
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
	.page-info__text{
		font-size: 1.3rem;
	}
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.page-info__text{
		font-size: 1rem;
	}
}