@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

:root{
  --color-accent: rgb(170, 244, 252);
  --color-accent_2: rgb(157, 157, 157);
  --letter-spacing-big: 0.6rem;
  --letter-spacing-small: 0.25rem;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
